@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import 'primeicons/primeicons.css';

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-surface-50 text-surface-800 antialiased;
  font-feature-settings: 'kern' 1, 'liga' 1;
}

h1,
h2,
h3 {
  @apply tracking-tight;
}

@media (max-width: 768px) {
  .p-toast.p-toast {
    width: 85vw;
  }
  .p-toast .p-toast-message.p-toast-message {
    border-radius: 12px;
  }
}
